@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}



* {
    font-family: 'Bona Nova SC';
    font-size: 20px;
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da janela */
   
}

#menu {
    background-image: linear-gradient(to right, #e24242 , #7958c7);
    text-align: center;
    position: sticky;
    top: 0;
    
}
/* Cabeçalho onde vai ficar a logo do site */
header{
    color:black;
    text-align: center;
}


/*botão de maestrias*/
a {
    text-decoration: none;
    color: white;
    font-size: 20px; 
    padding: 15px;
    display:inline-block;
    
    
}
/* ao posicionar o mouse, fica com a cor de baixo. */
a:hover {
    background-color:#5d0864;;


}
/* Primeiro ul que envolve todos eles, onde estão posicionados os links etc. */
#menu ul {
    display: inline;
    margin: 0;
    padding: 0;
    
    
}

/* segunda lista não ordenada onde estão posicionado os links de fato. */
#menu ul li {display:inline-block;
}

/* ao posicionar o mouse sob os links de Maestrias, aparece essa cor */
#menu ul li:hover {background:  #5d0864;}

/* ainda não sei o que faz, mas é o link de maestria que contem os outros links */
#menu ul li:hover ul {
    display:flex; /* Muda para flex para organizar horizontalmente */
    flex-wrap:wrap; /* Faz os itens "quebrarem" para a linha de baixo se necessário */
    
}

/* link que aparecem ao pôr o mouse em Maestrias */
#menu ul li ul {
    position:absolute;
    width: auto;  /* Para que a largura se ajuste ao conteúdo */
    display:none;
    background:  rgb(211, 140, 127);
    
    
}
/* fundo dos links em cascata */
#menu ul li ul li {
    background: rgb(211, 140, 127);
    display:block;
    flex-basis: 50%; /* Cada item ocupa 50% do espaço, criando duas colunas */
}


/* o display block faz com que o "a" ocupe todo o espaço disponível no elemento pai "li"
Isso torna o link mais "clicável", 
pois toda a área do item da lista fica interativa, não apenas o texto. */
#menu ul li ul li a {
    display:block !important; /*Força a aplicação da propriedade display: block, 
    ignorando outras regras CSS que poderiam tentar modificar o display*/
    padding: 10px; 
}


.conteudoinformacoes {
    margin:auto;
    margin-right: 15rem;
    background-color: #d8d5d5;
    
    
}

.conteudoinformacoes h1 {
    font-size: 30px;
}


.rodape {
    background-image: linear-gradient(to right, #e24242 , #7958c7);/* Cor do fundo do rodapé*/
    color: white;
    text-align: center; /* Centraliza o texto Espaçamento interno*/
    margin: auto;
    height: 10rem;
}

.rodape h1 {
    padding: 90px 0;
    text-align: center;
    
   
}

.conteudos {
    display: flex;
    flex-direction: column; /* Organiza os itens na coluna*/
    min-height: 100vh; /* Garante que a altura mínima seja 100% da altura da janela*/
    
}

input[type=text]{
    width: 155px;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    margin-left: 1rem;
    
}


 input[type=text]:focus {
    width: 20%;
}
