@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Bona Nova SC';
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da janela */
    margin: 0; /* Remove margens padrão */
}

#menu {
    background-color: rgb(199, 88, 88);
    text-align: center;
}
/* Cabeçalho onde vai ficar a logo do site */
header{
    color:black;
    text-align: center;



}
/*botão de maestrias*/
a {
    text-decoration: none;
    color: white;
    font-size: 20px; 
    padding: 15px;
    display:inline-block;
}
/* ao posicionar o mouse, fica com a cor de baixo. */
a:hover {
    background-color: rgb(129, 0, 189);


}
/* Primeiro ul que envolve todos eles, onde estão posicionados os links etc. */
ul {
    display: inline;
    margin: 0;
    padding: 0;
}

/* segunda lista não ordenada onde estão posicionado os links de fato. */
ul li {display:inline-block;}

/* ao posicionar o mouse sob os links de Maestrias, aparece essa cor */
ul li:hover {background: rgb(129, 0, 189);}

/* ainda não sei o que faz, mas é o link de maestria que contem os outros links */
ul li:hover ul {
    display:flex; /* Muda para flex para organizar horizontalmente */
    flex-wrap:wrap; /* Faz os itens "quebrarem" para a linha de baixo se necessário */
    
}

/* link que aparecem ao pôr o mouse em Maestrias */
ul li ul {
    position:absolute;
    width: auto;  /* Para que a largura se ajuste ao conteúdo */
    display:none;
    background: rgb(119, 119, 119);
    
}
/* fundo dos links em cascata */
ul li ul li {
    background:rgb(119, 119, 119) ;
    display:block;
    flex-basis: 50%; /* Cada item ocupa 50% do espaço, criando duas colunas */
}


/* o display block faz com que o "a" ocupe todo o espaço disponível no elemento pai "li"
Isso torna o link mais "clicável", 
pois toda a área do item da lista fica interativa, não apenas o texto. */
ul li ul li a {
    display:block !important; /*Força a aplicação da propriedade display: block, 
    ignorando outras regras CSS que poderiam tentar modificar o display*/
    padding: 10px; 
}

.conteudoinformacoes {
    margin:1rem;
    margin-right: 10rem;
}

.conteudoinformacoes h1 {
    font-size: 30px;
}


.rodape {
    background-color: #727272; /* Cor do fundo do rodapé*/
    color: white;
    text-align: center; /* Centraliza o texto Espaçamento interno*/
    padding: 0px 0px 50px;
    margin-top: 50%;
}

.conteudos {
    display: flex;
    flex-direction: column; /* Organiza os itens na coluna*/
    min-height: 100vh; /* Garante que a altura mínima seja 100% da altura da janela*/
    
}
